!!!
%html
	%head
		%title WorkflowApp
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.navbar.navbar-inner
			%a.navbar.brand{href: "#"} Course App
			%ul.nav.navbar-nav
				%li.active
					%a{href: "/courses"} Courses
				%li
					%a{href: "/locations"} Locations
				- if current_user
					%li= link_to "Log Out", logout_path, class: "nav-link"
				- else 
					%li= link_to "Log In with FB", "auth/facebook", id: "sign_in", class: "nav-link"
	= yield
